<a href="https://colab.research.google.com/github/RaghuvamsiImadabattuni/Raghu-vamsi_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
string = input("Please enter the string:........")
print("Length of the string is", len(string))

Please enter the string:........Raghu Vamsi
Length of the string is 11

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [8]:
String = "Google_Colab"
Frequency = {}
for i in String:
  if i in Frequency:
    Frequency[i] += 1
  else:
    Frequency[i] = 1
print(Frequency)

{'G': 1, 'o': 3, 'g': 1, 'l': 2, 'e': 1, '_': 1, 'C': 1, 'a': 1, 'b': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
Points = 40
Extra_points = 4
Total_points = [Points, Extra_points]
print("Chance to get total points are........", sum(Total_points))

Chance to get total points are........ 44

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [16]:
def Replace_char(string1):
  char = string1[0]
  length = len(string1)
  string1 = string1.replace(char, '$')
  string1 = char + string1[1:]

  return string1

print(Replace_char('google'))

goo$le

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [9]:
# write your answer here
def my_function(a,b):
  import math
  s = 3.14*((1+a/b)**3)
  return s
print("s = ", my_function(0,9))
print("s = ", my_function(0,2))
print("s = ", my_function(20,21))

s =  3.14
s =  3.14
s =  23.368096317892235

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
dict1 = {'R':18, 'a':1, 'g':7}
dict2 = {'h':8, 'u':21, 'v':22}
dict3 = {'a':1, 'm':13, 's':19, 'i':9}

Result = dict(dict1)
Result.update(dict2)
Result.update(dict3)

print(Result)

{'R': 18, 'a': 1, 'g': 7, 'h': 8, 'u': 21, 'v': 22, 'm': 13, 's': 19, 'i': 9}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [12]:
tuple = ('python', 'pycharm', 'google_colab', 'github', 'jupyter')
i = input('.........')
if i in tuple:
  print("Yes, it exists in tuple")
else:
  print("No, it doesn't exists in tuple")

.........jupyter
Yes, it exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [14]:
Age_s = [21, 32, 28, 34, 26, 31]

print("Maximun value in a set......", max(Age_s))
print("Minimum value in a set......", min(Age_s))

Maximun value in a set...... 34
Minimum value in a set...... 21

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [22]:
studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

import random
def select_random_Group(lst, n):
    random.shuffle(lst)
    result = []
    for i in range(0, len(lst), n):
        result.append(lst[i:i + n])
    return result

print(select_random_Group(studnet_list, 5))

[['ttp0037', 'hn0145', 'yye0005', 'pn0159', 'mv0299'], ['bk0301', 'sg0940', 'py0080', 'msp0174', 'vmb0067'], ['pc0353', 'rrk0058', 'ri0094', 'pk0339', 'tv0119'], ['at0768', 'ss1995', 'mn0426', 'nm0547', 'rs0850'], ['at0739', 'vl0135', 'ds0761', 'spk0057', 'dd0420'], ['dy0091', 'snd0097', 'rak0120', 'hc0439']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [15]:
def duplicateCheck(nums):
    num_set = set()
    NoDuplicate = -1

    for i in range(len(nums)):

        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])

    return NoDuplicate

print(duplicateCheck([1, 2, 2, 3, 4, 5]), "is the duplicate number.")
print(duplicateCheck([1, 2, 3, 4, 5]), "there no duplicate number.")

2 is the duplicate number.
-1 there no duplicate number.

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [23]:
from datetime import date, timedelta
def sundays_Total(year):
       Date = date(year, 1, 1)
       Date = Date + timedelta(days = 6 - Date.weekday())  
       while Date.year == year:
          yield Date
          Date = Date + timedelta(days = 7)
for s in sundays_Total(1998):
   print(s)

1998-01-04
1998-01-11
1998-01-18
1998-01-25
1998-02-01
1998-02-08
1998-02-15
1998-02-22
1998-03-01
1998-03-08
1998-03-15
1998-03-22
1998-03-29
1998-04-05
1998-04-12
1998-04-19
1998-04-26
1998-05-03
1998-05-10
1998-05-17
1998-05-24
1998-05-31
1998-06-07
1998-06-14
1998-06-21
1998-06-28
1998-07-05
1998-07-12
1998-07-19
1998-07-26
1998-08-02
1998-08-09
1998-08-16
1998-08-23
1998-08-30
1998-09-06
1998-09-13
1998-09-20
1998-09-27
1998-10-04
1998-10-11
1998-10-18
1998-10-25
1998-11-01
1998-11-08
1998-11-15
1998-11-22
1998-11-29
1998-12-06
1998-12-13
1998-12-20
1998-12-27