<a href="https://colab.research.google.com/github/RaghuvamsiImadabattuni/Raghu-vamsi_INFO5731_Fall2021/blob/main/In_class_exercise_05_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fifth in-class-exercise (40 points in total, 11/11/2021)**

(20 points) The purpose of the question is to practice different machine learning algorithms for text classification as well as the performance evaluation. In addition, you are requried to conduct *10 fold cross validation (https://scikit-learn.org/stable/modules/cross_validation.html)* in the training. 

The dataset can be download from here: https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/exercise09_datacollection.zip. The dataset contains two files train data and test data for sentiment analysis in IMDB review, it has two categories: 1 represents positive and 0 represents negative. You need to split the training data into training and validate data (80% for training and 20% for validation, https://towardsdatascience.com/train-test-split-and-cross-validation-in-python-80b61beca4b6) and perform 10 fold cross validation while training the classifier. The final trained model was final evaluated on the test data. 

Algorithms:

(1) MultinominalNB

(2) SVM 

(3) KNN 

(4) Decision tree

(5) Random Forest

(6) XGBoost

Evaluation measurement:

(1) Accuracy

(2) Recall

(3) Precison 

(4) F-1 score

In [158]:
#importing requirements
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
%matplotlib inline

In [160]:
#Loading train data
df = pd.read_csv("/content/stsa-train.txt", engine='python', sep='delimiter', header=None)               
df = pd.DataFrame(df) 
df.columns = ["Reviews"] 
df['Sentiment'] = df['Reviews'].str.split(' ').str[0]
df['Reviews'] = df['Reviews'].str.split(n=1).str[1]
df

                                                Reviews Sentiment
0     a stirring , funny and finally transporting re...         1
1     apparently reassembled from the cutting-room f...         0
2     they presume their audience wo n't sit still f...         0
3     this is a visually stunning rumination on love...         1
4     jonathan parker 's bartleby should have been t...         1
...                                                 ...       ...
6915  painful , horrifying and oppressively tragic ,...         1
6916  take care is nicely performed by a quintet of ...         0
6917  the script covers huge , heavy topics in a bla...         0
6918  a seriously bad film with seriously warped log...         0
6919  a deliciously nonsensical comedy about a city ...         1

[6920 rows x 2 columns]

In [161]:
#Loading test data
df_1 = pd.read_csv("/content/stsa-test.txt", engine='python', sep='delimiter', header=None)               
df_1 = pd.DataFrame(df_1) 
df_1.columns = ["Reviews"] 
df_1['Sentiment'] = df_1['Reviews'].str.split(' ').str[0]
df_1['Reviews'] = df_1['Reviews'].str.split(n=1).str[1]
df_1

                                                Reviews Sentiment
0        no movement , no yuks , not much of anything .         0
1     a gob of drivel so sickly sweet , even the eag...         0
2     gangs of new york is an unapologetic mess , wh...         0
3     we never really feel involved with the story ,...         0
4               this is one of polanski 's best films .         1
...                                                 ...       ...
1816  an often-deadly boring , strange reading of a ...         0
1817  the problem with concept films is that if the ...         0
1818  safe conduct , however ambitious and well-inte...         0
1819  a film made with as little wit , interest , an...         0
1820  but here 's the real damn : it is n't funny , ...         0

[1821 rows x 2 columns]

In [165]:
import nltk
from nltk.stem import PorterStemmer
import re
nltk.download('stopwords') 
cp_train = [] 
for i in range(0, 6920): 
    text = re.sub('[^a-zA-Z]', '', df['Reviews'][i]) 
    text = text.lower() 
    text = text.split() 
    ps = PorterStemmer() 
    text = ''.join(text) 
    cp_train.append(text)
cp_test = []
for i in range(0, 1821): 
    text = re.sub('[^a-zA-Z]', '', df_1['Reviews'][i]) 
    text = text.lower() 
    text = text.split() 
    ps = PorterStemmer() 
    text = ''.join(text) 
    cp_test.append(text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [166]:
# creating model 
cv = CountVectorizer(max_features = 5000) 
X = cv.fit_transform(corpus_train).toarray() 
y = dataset.iloc[:, 1].values
y

array(['1', '0', '0', ..., '0', '0', '1'], dtype=object)

In [164]:
# splitting the data into training set and validation set 
from sklearn.model_selection import train_test_split 
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size = 0.2, random_state = 123)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=123)

In [173]:
#MultinomialNB 
import sklearn.metrics as metrics 
from sklearn.metrics import accuracy_score,recall_score, f1_score, precision_score 
from sklearn.naive_bayes import MultinomialNB
classify = MultinomialNB()
model = classify.fit(X_train, y_train)
#Printing accuracy values
print('accuracy: %s' % accuracy_score(y_pred,y_test))
#Comparing values
print(classification_report(y_test,y_pred))
#calculating cross-validation scores
from sklearn.model_selection import cross_val_score
scores = cross_val_score(classifier, X_test, y_test, cv=10)
print("multinomialNB: ",scores.mean())

accuracy: 0.5296242774566474
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       651
           1       0.53      1.00      0.69       733

    accuracy                           0.53      1384
   macro avg       0.26      0.50      0.35      1384
weighted avg       0.28      0.53      0.37      1384

multinomialNB 0.5006412261495152

In [174]:
#SVM
from sklearn.model_selection import cross_val_score
from sklearn import svm
clf = svm.SVC()
model = clf.fit(X_train, y_train)
print('accuracy: %s' % accuracy_score(y_pred,y_test))
#Comparing values
print(classification_report(y_test,y_pred))
#calculating cross-validation scores
scores = cross_val_score(clf, X_test, y_test, cv=10)
print("SVM: ",scores.mean())

accuracy: 0.5296242774566474
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       651
           1       0.53      1.00      0.69       733

    accuracy                           0.53      1384
   macro avg       0.26      0.50      0.35      1384
weighted avg       0.28      0.53      0.37      1384

SVM:  0.5296215201751643

In [178]:
#KNN
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train, y_train)
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_val = scaler.transform(X_val)

In [179]:
#Printing accuracy values
print('accuracy: %s' % accuracy_score(y_pred,y_test))
#Comparing values
print(classification_report(y_test,y_pred))
#calculating cross-validation scores
from sklearn.model_selection import cross_val_score
scores = cross_val_score(classifier, X_test, y_test, cv=10)
print("KNN: ",scores.mean())

accuracy: 0.5296242774566474
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       651
           1       0.53      1.00      0.69       733

    accuracy                           0.53      1384
   macro avg       0.26      0.50      0.35      1384
weighted avg       0.28      0.53      0.37      1384

KNN:  0.5006412261495152

In [180]:
#DECISION TREE
import pandas as pd
from sklearn.tree import DecisionTreeClassifier 
from sklearn.model_selection import train_test_split 
import sklearn.metrics as metrics 
# Creating classifer object
clf = DecisionTreeClassifier()
# Training Classifer
clf = clf.fit(X_train,y_train)
#Printing accuracy values
print('accuracy: %s' % accuracy_score(y_pred,y_test))
#Comparing values
print(classification_report(y_test,y_pred))
#For calculating the cross-validation scores
scores = cross_val_score(clf, X_test, y_test, cv=10)
print("Decision Tree: ",scores.mean())

accuracy: 0.5296242774566474
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       651
           1       0.53      1.00      0.69       733

    accuracy                           0.53      1384
   macro avg       0.26      0.50      0.35      1384
weighted avg       0.28      0.53      0.37      1384

Decision Tree:  0.5296215201751643

In [181]:
#RANDOM FOREST
from sklearn.ensemble import RandomForestClassifier
import sklearn.metrics as metrics
#Creating Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)
#Training model
clf.fit(X_train,y_train)
#Printing values
print('accuracy: %s' % accuracy_score(y_pred,y_test))
#Comparing values
print(classification_report(y_test,y_pred))
#calculating cross-validation scores
scores = cross_val_score(clf, X_test, y_test, cv=10)
print("RANDOM FOREST: ",scores.mean())

accuracy: 0.5296242774566474
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       651
           1       0.53      1.00      0.69       733

    accuracy                           0.53      1384
   macro avg       0.26      0.50      0.35      1384
weighted avg       0.28      0.53      0.37      1384

RANDOM FOREST:  0.5296215201751643

In [182]:
#XGBoost
import xgboost as xgb
import numpy as np
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)
xg_reg.fit(X_train,y_train)

[06:03:09] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=10,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

(20 points) The purpose of the question is to practice different machine learning algorithms for text clustering
Please downlad the dataset by using the following link.  https://www.kaggle.com/PromptCloudHQ/amazon-reviews-unlocked-mobile-phones
(You can also use different text data which you want)

Apply the listed clustering methods to the dataset:

K means, 
DBSCAN,
Hierarchical clustering. 

You can refer to of the codes from  the follwing link below. 
https://www.kaggle.com/karthik3890/text-clustering

In [309]:
import pandas as pd
ds = pd.read_csv("Amazon_Unlocked_Mobile.csv")
ds

                                             Product Name  ... Review Votes
0       "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          1.0
1       "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
2       "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
3       "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
4       "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...          0.0
...                                                   ...  ...          ...
413835  Samsung Convoy U640 Phone for Verizon Wireless...  ...          0.0
413836  Samsung Convoy U640 Phone for Verizon Wireless...  ...          0.0
413837  Samsung Convoy U640 Phone for Verizon Wireless...  ...          0.0
413838  Samsung Convoy U640 Phone for Verizon Wireless...  ...          0.0
413839  Samsung Convoy U640 Phone for Verizon Wireless...  ...          0.0

[413840 rows x 6 columns]

In [310]:
#Cleaning data
ds= ds[ds['Reviews'].notnull()].head(5000)
#Removing punctuatiions
ds['punct'] = ds['Reviews'].str.replace('[^\w\s].#','')
from nltk.corpus import stopwords
import nltk 
nltk.download('wordnet')

nltk.download('stopwords')
stop = stopwords.words('english')
#Removing stopwords 
ds['stopwords'] =ds['punct'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
#Removing numercis
ds['numerics']=ds['stopwords'].str.replace('[0-9]','')
#to lowercase
ds['lowercase'] =ds['numerics'].apply(lambda x: " ".join(x.lower() for x in x.split()))
#Stemming
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()
ds['stemming']=ds['lowercase'].apply(lambda x: " ".join([stemmer.stem(word) for word in x.split()]))
#Lemmatizing
from textblob import Word
ds['clean'] = ds['stemming'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
ds['clean']

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0       i feel lucki found use (phone u & use hard all...
1       nice phone, nice grade pantach revue. veri cle...
2                                               veri plea
3         it work good goe slow sometim good phone i love
4       great phone replac lost phone. the thing volum...
                              ...
4995    thi review product may find everywher www worl...
4996    the product good structure. i'm still use braz...
4997    the iphon fine. it work good condit one major ...
4998                           screen crack realli quick.
4999    will never buy anyth again. i receiv work. nei...
Name: clean, Length: 5000, dtype: object

In [311]:
#Vectoring data
from sklearn.feature_extraction.text import TfidfVectorizer
vector = TfidfVectorizer()
tfidf = vector.fit_transform(ds['clean'].values)
tfidf.shape

(5000, 7567)

In [312]:
#K means model 
from sklearn.cluster import KMeans
#Defining k means model
kmodel = KMeans(n_clusters = 5, n_jobs = -1,random_state=99)
kmodel.fit(tfidf)
#Creating labels 
labels_kmeans = kmodel.labels_
#Defining tcluster center
cluster_center_kmeans=kmodel.cluster_centers_
terms = vector.get_feature_names()
terms[1:10]
ds['Label'] = kmodel.labels_
ds

                                           Product Name  ... Label
0     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
1     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
2     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
3     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     2
4     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...     0
...                                                 ...  ...   ...
4995     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4996     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4997     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4998     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0
4999     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...     0

[5000 rows x 13 columns]

In [313]:
#Counting clusters 
ds.groupby(['Label'])['clean'].count()

Label
0    4211
1     259
2     198
3     213
4     119
Name: clean, dtype: int64

In [348]:
#Finding top terms
print("Top terms:")
#Defing the centroid model
centroids = kmodel.cluster_centers_.argsort()[:, ::-1]
#Creating the loop for finding the top words
for i in range(5):
    print("Cluster %d:" % i, end='')
    for ind in centroids[i, :5]:
        print(' %s' % terms[ind], end='')
        print()

Top terms:
Cluster 0: phone
 it
 work
 the
 good
Cluster 1: great
 work
 phone
 product
 price
Cluster 2: good
 veri
 phone
 it
 product
Cluster 3: love
 it
 phone
 great
 daughter
Cluster 4: excel
 product
 recommend
 seller
 phone

In [349]:
#DBscan Clustering
from sklearn.cluster import DBSCAN
points = 2 * 100
def lower_b(nums, targ): 
    l, r = 0, len(nums) - 1
    while l <= r: 
        mid = int(l + (r - l) / 2)
        if nums[mid] >= targ:
            r = mid - 1
        else:
            l = mid + 1
    return l
def com_200th_near_tneigh(x, data): 
    dists = []
    for val in data:
        dist = np.sum((x - val) **2 ) 
        if(len(dists) == 200 and dists[199] > dist): 
            l = int(lower_b(dists, dist)) 
            if l < 200 and l >= 0 and dists[l] > dist:
                dists[l] = dist
        else:
            dists.append(dist)
            dists.sort()
    
    return dists[199]

In [350]:
import numpy as np
sent_vectors = []; 
for sent in ds['Reviews']: 
    sent_vec = np.zeros(100) 
    words =0; 
    for word in sent: 
        try:
            vec = w2v_model.wv[word]
            sent_vec += vec
            words += 1
        except:
            pass
    sent_vec /= words
    sent_vectors.append(sent_vec)

In [351]:
sent_vectors = np.array(sent_vectors)
sent_vectors = np.nan_to_num(sent_vectors)
sent_vectors.shape
points = 2 * 100
model = DBSCAN(eps = 1, min_samples = points, n_jobs=-1)
model.fit(sent_vectors)
ds['AVG Clus Label'] = model.labels_
ds

                                           Product Name  ... AVG Clus Label
0     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
1     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
2     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
3     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
4     "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
...                                                 ...  ...            ...
4995     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4996     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4997     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4998     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0
4999     Apple iPhone 3GS 16GB (Black) - AT&T MC135LL/A  ...              0

[5000 rows x 14 columns]

In [352]:
#Hierarchical clustering Model
from sklearn.cluster import AgglomerativeClustering
#Defining model
cluster = AgglomerativeClustering(n_clusters=7, affinity='euclidean', linkage='ward')  
Agg=cluster.fit_predict(sent_vectors)

In [353]:
#assigning Labels 
aggdfa = ds
aggdfa['AVG Clus Label'] = cluster.labels_
aggdfa.head()

                                        Product Name  ... AVG Clus Label
0  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
1  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
2  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
3  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0
4  "CLEAR CLEAN ESN" Sprint EPIC 4G Galaxy SPH-D7...  ...              0

[5 rows x 14 columns]

In [343]:
aggdfa.groupby(['Label'])['clean'].count()

Label
0    4211
1     259
2     198
3     213
4     119
Name: clean, dtype: int64

In [358]:
for i in range(2):
    print("Reviews  ", i)
    print("-" * 50)
    print(aggdfa.iloc[aggdfa.groupby(['Label']).groups[i][0]]['clean'])
    print('\n')
    print(aggdfa.iloc[aggdfa.groupby(['Label']).groups[i][1]]['clean'])
    print('\n')
    print("_" * 50)

Reviews   0
--------------------------------------------------
i feel lucki found use (phone u & use hard all), phone line someon upgrad sold one. my son like old one final fell apart .+ year want upgrade!! thank seller, realli appreci & honesti re: said use phone.i recommend seller highli & would again!!


nice phone, nice grade pantach revue. veri clean set easi set up. never android phone fantast say least. perfect size surf social media. great phone samsung


__________________________________________________
Reviews   1
--------------------------------------------------
phone good littl slow phone old great phone temporari right now. thank great deal


phone work great. no problem


__________________________________________________

In one paragraph, please compare K means, DBSCAN and Hierarchical clustering.

In [ ]:
'''
K-means Clustering should be more or less spherical or convex  and  have the same feature size when compared toThe formed clusters have any shape and may not have the same feature size. Hierarchical clustering cannot handle big data properly, but K-means clustering can. This is because the time complexity of the K-means method is linear, while the time complexity of hierarchical clustering is quadratic.
'''